body{ 
    background: #ea9a97; 
    display: flex; 
    flex-direction: row; 
    width: 100vw; 
    height: 100vh;
    margin: 0; 
}

h1 {
    font-family: 'Domine', serif;
    text-align: center;   
    color: #2a283e; 
    text-align: center; 
}

p, li, button {
    font-family: 'Domine', serif;
    font-size: 15px; 
    text-align: center; 
    color: #2a283e;
}

.sidenav {
    background-color: #eb6f92;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    width: 250px; 
    height: 100vh;
}

.topnav ul {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: flex-end;
}

.sidenav ul {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    height: 100vh;
    padding-left: 75px; 
}

.topnav li, .sidenav li {
    list-style-type: none;
    flex-basis: 8%; 
    text-align: center;
}

.topnav a, .sidenav a {
    text-decoration: none; 
    color: #2a283e;
}

.topnav a:hover, .sidenav a:hover {
    color: #9ccfd8;
}

.sidebtn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
}

.button {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    padding-bottom: 50px; 
    height: 50vh;
}

#arrow-btn {
    background-color: #eb6f92; 
    color: #2a283e; 
    font-size: 30px;
    border-color: #2a283e; 
}

.btn, #side-btn, #arrow-two-btn {
    background-color: #eb6f92; 
    color: #2a283e; 
    font-size: 20px;
    border-color: #2a283e;  
}

#plus-btn {
    background-color: #eb6f92;
    color: #2a283e;
    font-size: 20px;
    border-color: #2a283e;
    height: 35px;
    width: auto; 
}

#save-btn, #del-btn {
    background-color: #eb6f92;
    color: #2a283e;
    font-size: 15px; 
    border-color: #2a283e; 
}

.btn:hover, #plus-btn:hover, #save-btn:hover, #del-btn:hover, #arrow-btn:hover, #arrow-two-btn:hover {
    background-color: #9ccfd8; 
}

.btn-textarea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    padding-right: 100px; 
}

.save-del-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20%;
    margin-top: 10px; 
    padding-left: 180px;
}

textarea {
    width: 400px;
    height: 200px;
    border-color: #2a283e;
    border-width: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    margin-top: 10px; 
    margin-left: 15px;
    resize: none; 
    background-color: #eb6f92; 
    color: #2a283e; 
    font-family: 'Domine', serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    text-align: center; 
    justify-content: flex-start;
    overflow: hidden; 
    width: 100%;
    height: 100%;
}

.middle {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    height: 100%;
}

.footer {
    margin-top:auto;
    min-height: 50px;  
}

@media screen and (max-width: 480px) {
    body {
        background-color: #eb6f92;
    }

    h1 {
        font-size: 12px;
    }
    
    p, li {
        font-size: 10px;
    }
    
    .btn {
        font-size: 13px;
        background-color: #9ccfd8; 
    }

    #arrow-btn {
        font-size: 20px;
        background-color: #9ccfd8;
    }

    #arrow-two-btn, #save-btn, #del-btn {
        font-size: 13px; 
        background-color: #ea9a97;
    }

    #plus-btn {
        background-color: #ea9a97;
    }

    #arrow-two-btn:hover {
        background-color: #eb6f92;
    }

    .btn:hover, #arrow-btn:hover {
        background-color: #ea9a97;
    }
    
    .topnav ul {
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: flex-end;
        padding-right: 10px; 
    }

    .topnav li {
        flex-basis: 15%
    }

    .topnav a:hover, .sidenav a:hover {
        font-size: 15px;
        font-weight: 500;
        color: #2a283e;
    }

    .sidenav {
        background-color: #ea9a97;
        width: 80px; 
        height: 100vh;
    }

    .sidenav ul {
        padding-left: 20px;
    }

    .sidenav li {
        flex-basis: 5%;
    }

    .btn-textarea {
        flex-direction: column;
        padding-left: 95px;
    }

    .save-del-btns {
        width: 50%;
        padding-right: 150px
    }

    textarea {
        width: 300px;
        height: 150px;
        border-color: #2a283e;
        border-width: 3px;
        background-color: #ea9a97
    }

    .middle {
        justify-content: flex-start; 
        padding-top: 80px;
    }

    .footer {
        min-height: 0px; 
        display: flex;
        flex-direction: row; 
        justify-content: flex-end; 
        padding-right: 10px;  
    }
}